doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Simply Life Pre - Order
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css', integrity='sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7', crossorigin='anonymous')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css', integrity='sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r', crossorigin='anonymous')
    link(href='/menu_style.css', rel='stylesheet')
  body
    h1#header1
      a(href='#')#header1 Menu
    .container
      nav#menuNav.navbar.navbar-default.row
        .container-fluid
          ul.nav.navbar-nav
            li#pastries.col-xs-2.menuTabs
              a(href='#') Pastries
            li#salad.col-xs-2.menuTabs
              a(href='#') Salad
            li#sandwiches.col-xs-2.menuTabs
              a(href='#') Sandwiches
            li#soup.col-xs-2.menuTabs
              a(href='#') Soup
            li#snacks.col-xs-2.menuTabs
              a(href='#') Snacks
            li#beverages.col-xs-2.menuTabs
              a(href='#') Beverages
      #secondRow.row
        h4#header2 Menu Items
        .col-xs-12.inventoryBox
      #thirdRow.row
        .col-xs-12.basket
          h3 Basket, submit button, direct to Checkout

    h1#header3 Checkout
    .container
      #fourthRow.row
        h5#header4 Your Items
        .col-xs-12.basketBox
        .col-xs-12.totalBox
          h2#totalPrice 00.00
      #thirdRow.row
        .col-xs-12.Done
          h3 Done, submit button, direct to Order Summary


    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js', integrity='sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS', crossorigin='anonymous')
    script(src='/ajax.js')
    script(src='/script.js')

