#header1 {
  text-align: center;
  color: black;
}

.container {
    padding-right: 10;
    padding-left: 10;
    border: solid;
    margin-right: auto;
    margin-left: auto;
}

#menuNav {
    padding-right: 0;
    padding-left: 0;
    margin-right: 0;
    margin-left: 0;
    display: block;
    border: solid red;
}

.menuTabs {
/*    padding-right: 0;
    padding-left: 0;
    margin-right: 0;
    margin-left: 0;*/

    border: solid grey;
}

#secondRow {
    padding-right: 0;
    padding-left: 0;
    margin-right: 0;
    margin-left: 0;
    border: solid orange;
}

.inventoryBox {
  height: 400px;
  overflow: scroll;
}

#header2 {
  text-align: center;
}

#thirdRow {
    padding-right: 0;
    padding-left: 0;
    margin-right: 0;
    margin-left: 0;
    display: block;
    border: solid blue;
}

.Pastries {
  background-color: pink;
}

.Salad {
  background-color: yellow;
}

.Sandwiches {
  background-color: teal;
}

.Soup {
  background-color: orange;
}

.Snacks {
  background-color: blue;
}

.Beverages {
  background-color: grey;
}