header
  nav
    ul
      li
        a(href='http://localhost:3000') Home
      li
        a(href='http://localhost:3000/0') Chewing Gum
      li
        a(href='http://localhost:3000/1') Pez
      li
        a(href='http://localhost:3000/2') Marshmallow
      li
        a(href='http://localhost:3000/3') Candy Stick




