html *
{
   /*font-size: 1em !important;*/
   /*color: #000 !important;*/
   font-family: "Times New Roman", Times, serif;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-image: url("blackfloor.jpg");
  /*background-repeat: no-repeat;*/
  background-attachment: fixed;
  background-position: center;
}

.container-fluid {
  margin-top: 5%;
  margin-bottom: 5%;
}
#launchSelects{
  margin-top: 7%;
}

label {
  color: white;
  font-size: 150%;
}

#signUpBox {
  width: 40%;
  margin: auto;
}
#logInBox {
  width: 40%;
  margin: auto;
}


.a1 {
  color: white;
  display: block;
  text-align: center;
}

#SignUpHeader {
  margin-top: 3%;
  text-align: center;
  margin-bottom: 6%;
}

#loginHeader {
  margin-top: 3%;
  text-align: center;
  margin-bottom: 6%;
}

.deleteButton {
  float: right;
}
h7 {
  display: block;
  color: white;
  text-align: center;
  margin-top: 3%;
}

.inventoryItems {
  display: block;
  margin-bottom: 5%;
  margin-top: 5%;
  height:30%;
}
h1{
  color: white;
  text-align: center;
}

p{
  color: white;
  text-align: center;
}

#profileButton{
  float: right;
  margin-right: 3%;
}

#header1 {
  text-align: center;
  color: white;
  display: inline;
}


.centerButtons {
  text-align: center;
}

#menuNav {
    padding-right: 0;
    padding-left: 0;
    margin-right: 0;
    margin-left: 0;
    display: block;
    /*border: .4px dotted white;*/
    overflow: visible;
    background-color: rgba(0, 0, 0, 0.5);
}

.opacityButton {
  background-color: rgba(0, 0, 0, 0.5);
}

  margin: 0 auto;
}

.menuTabs {
    float: center;
}

#secondRow {

    height: 60vh;
    margin-top: 3%;
    padding-right: 0;
    padding-left: 0;
    margin-right: 0;
    margin-left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}
#fourthRow {
    margin-top: 5%;
    padding-right: 0;
    padding-left: 0;
    margin-right: 0;
    margin-left: 0;
    /*border: solid grey;*/
}
.inventoryBox {
  height: 50vh;
  overflow: scroll;
}
#preview {
  margin-top: 2%;
  height: 50vh;
}
#previewBasket{
  margin-top: 1%;
  height: 40vh;
  background-color: rgba(0, 0, 0, 0.3);

}
.inventoryItems {
  margin-top: 5%;
}

#thirdRow {
  margin-top: 3%;
  margin-bottom: 3%;
}
#toCheckoutButton {
  left: 50%;
  width: 50%;
  right: auto;
  text-align: center;
  transform: translate(-50%, 0);
  overflow: scroll;
  vertical-align: center;
}

/*.Pastries {
  background-color: pink;
}

.Salad {
  background-color: yellow;
}

.Sandwiches {
  background-color: teal;
}

.Soup {
  background-color: orange;
}

.Snacks {
  background-color: blue;
}

.Beverages {
  background-color: grey;
}*/

.Done {
    padding-right: 0;
    padding-left: 0;
    margin-right: 0;
    margin-left: 0;
    display: block;
    border: solid blue;
}

#header4 {
  text-align: center;
  color: white;
}

.basketBox {
  height: 400px;
  overflow: scroll;
  background-color: rgba(0, 0, 0, 0.5);
  /*border: solid grey;*/
}

 #eighthRow {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 3%;
  margin-top: 5%;
}

.totalBox {
  /*border: solid green*/;
}

#totalPrice {

  text-align: center;
  color: white;
}

h2 {
  text-align: center;
  color: white;
}

h5 {
  text-align: center;
  color: white;
}

.dropdown-toggle {
  left: 50%;
  width: 50%;
  text-align: center;
  transform: translate(-50%, 0);
}
#dropDown1 {
  left: 50%;
  width: 50%;
  right: auto;
  text-align: center;
  transform: translate(-50%, 0);
  height: 200px;
  overflow: scroll;
}

#dropDown2 {
  left: 50%;
  width: 50%;
  right: auto;
  text-align: center;
  transform: translate(-50%, 0);
  overflow: scroll;
}

img {

  width : 50%;
  display: block;
  margin: auto;
}

#qrCode {
  width: 35%;
  margin: auto;
}
