html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-image: url("blackfloor.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
.a1 {
  color: white;
  display: block;
  text-align: center;
}


.deleteButton {
  float: right;
}
h4 {
  color: white;
  text-align: center;
}

.inventoryItems {
  display: block;
}
h1{
  color: white;
  text-align: right;
}

#profileButton{
  float: right;
}

#header1 {
  text-align: right;
  color: white;
  display: inline;
}

.container {
    margin-top: 5%;
    padding-right: 10;
    padding-left: 10;
    border: solid;
    margin-right: auto;
    margin-left: auto;
    height: 90%;
}

#menuNav {
    padding-right: 0;
    padding-left: 0;
    margin-right: 0;
    margin-left: 0;
    display: block;
    border: solid grey;
}

.menuTabs {
    float: center;
}

#secondRow {
    margin-top: 5%;
    padding-right: 0;
    padding-left: 0;
    margin-right: 0;
    margin-left: 0;
    border: solid grey;
}

.inventoryBox {
  height: 600px;
  overflow: scroll;
}

.inventoryItems {
  margin-top: 2%;
}

#thirdRow {
  margin-top: 3%;
  margin-bottom: 3%;
}
#toCheckoutButton {
  left: 50%;
  width: 50%;
  right: auto;
  text-align: center;
  transform: translate(-50%, 0);
  overflow: scroll;
  vertical-align: center;
}

/*.Pastries {
  background-color: pink;
}

.Salad {
  background-color: yellow;
}

.Sandwiches {
  background-color: teal;
}

.Soup {
  background-color: orange;
}

.Snacks {
  background-color: blue;
}

.Beverages {
  background-color: grey;
}*/

.Done {
    padding-right: 0;
    padding-left: 0;
    margin-right: 0;
    margin-left: 0;
    display: block;
    border: solid blue;
}

#header4 {
  text-align: center;
}

.basketBox {
  height: 400px;
  overflow: scroll;
  border: solid grey;
}

.totalBox {
  /*border: solid green*/;
}

#totalPrice {
  text-align: center;
  color: white;
}

h2 {
  text-align: center;
  color: white;
}

.dropdown-toggle {
  left: 50%;
  width: 50%;
  text-align: center;
  transform: translate(-50%, 0);
}
#dropDown1 {
  left: 50%;
  width: 50%;
  right: auto;
  text-align: center;
  transform: translate(-50%, 0);
  height: 200px;
  overflow: scroll;
}

#dropDown2 {
  left: 50%;
  width: 50%;
  right: auto;
  text-align: center;
  transform: translate(-50%, 0);
  overflow: scroll;
}

img {
  width : 60%;
  display: block;
  margin: auto;
}
