doctype html
html
  head
    block title
      title Default Title
  body
    block header

    block content
      h1 Content not found
    include includes/footer.pug
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js')
    script(src='/js/ajax.js')

