extends base/layout

block main
  .container
    .row
      h1#loginHeader L O G I N
    .row
      #logInBox
        if (message.length > 0)
          .alert.alert-danger #{message}
        form(action='/login', method='post')
          .form-group
            label Email
            input.form-control(type='text', name='email')
          .form-group
            label Password
            input.form-control(type='password', name='password')
          .centerButtons
            a.btn.btn-lg.opacityButton(href='/', role='button') Back
            button.btn.btn-lg.opacityButton(type='submit') Login
        hr