extends base/layout

block main
  .container
    .row
        h1 Place Your Order Today!
        p no lines just pick ups ;)
    #launchSelects.container
      .row
        form(action='/login', method='get')
          .centerButtons
            button.btn.btn-lg.buttonlaunch.opacityButton(type='submit') Log In
          hr
        form(action='/signup', method='get')
          .centerButtons
            button.btn.btn-lg.buttonlaunch.opacityButton(type='submit') Sign Up
          hr
      .row
        .centerButtons
          a.btn.btn-block.btn-social.btn-facebook.opacityButton(href='/auth/facebook')
            span.fa.fa-facebook
            |  Sign in with Facebook
          hr
      .row
        .centerButtons
          a.btn.btn-block.btn-social.btn-twitter.opacityButton(href='/auth/twitter')
            span.fa.fa-twitter
            |  Sign in with Twitter


        //- a(href='/auth/twitter')
        //-   span.fa.fa-twitter
    //- .row
    //-   a(href='/auth/XXXXXXXX')
    //-     span.fa.fa-google-plus