extends base/layout

block main
  h1 Welcome
  .row
    #nameHere
    hr
    hr
    h2#displayName Your customized user experience is coming soon!
  hr
  hr
  .row
    h5 Please contact us at simplylife_pickup@simplylife.com or 2345-2345 for more infomation.
  .centerButtons
    a.btn.btn-lg.opacityButton(href='/mainmenu') Back